<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Styles -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.9"
        integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
        crossorigin="anonymous"></script>

    <title>Hello, World!</title>
</head>

<body>
    <div id="nav">
        <h1 id="homelink">codeCoach</h1>
    </div>
    <div class="box">

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Primary -->
        <select name=window id="window-select" hx-get="/chart" hx-target="#chart" hx-swap="outerHTML">
            <option value="week">last week</option>
            <option value="month">last month</option>
            <option value="year">last year</option>
        </select>

        <div id="test"></div>

        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
        <div id="chart" hx-get="/chart?window=week" hx-trigger="load" class="">
            <canvas id="myChart"></canvas>
            <script id="chart-script">
                data = JSON.parse("{{ . }}")
                console.log(data)
                ctx = document.getElementById('myChart');

                dates = data.map(row => row.Date)
                console.log(dates)

                reduced = [data[0]]
                added = data.map(row => row.LinesAdded)

                subtracted = data.map(row => row.LinesSubtracted)
                cum = data.map(row => row.LinesAdded - row.LinesSubtracted)

                new Chart(ctx, {
                    type: 'line',
                    responsive: true,
                    data: {
                        labels: dates,
                        datasets: [
                            {
                                label: 'lines added',
                                data: added,
                                borderWidth: 1
                            },
                            {
                                label: 'lines subtracted',
                                data: subtracted,
                                borderWidth: 1
                            },
                            {
                                label: 'cumulative',
                                data: cum,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
    </div>
</body>

</html>